/* Import the Tokyo Night color palette */
@import "tokyo-night.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @foreground;
  margin: 5px 5px;
}

/* --- Workspaces --- */
#workspaces {
  background-color: @module-bg;
  border-radius: 1rem;
  margin: 5px;
  margin-left: 1rem;
  padding: 0.5rem 0.5rem;
}

#workspaces button {
  color: @gray;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @cyan;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @blue;
  border-radius: 1rem;
}

/* --- Center Module --- */
#window {
  background-color: @module-bg;
  color: @blue;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

/* --- Right-side Modules --- */
#custom-music {
  background-color: @module-bg;
  padding: 0.5rem 1rem;
  margin: 5px 5px;

}

#network,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @module-bg;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

/* --- Individual Module Styling --- */

/* The first module on the right */
#custom-music {
  color: @magenta;

  border-radius: 1rem;
  margin-right: 5px;
}

#network {
  color: @cyan;
  /* This is a middle module, so no rounding */
  border-radius: 1rem 0 0 1rem;
  padding-left: 1.2rem;
}

#pulseaudio {
  color: @blue;
  border-radius: 0;
}

#clock {
  color: @green;
  border-radius: 0;
}

#custom-lock {
  color: @yellow;
  border-radius: 0;
}

/* The last module on the right */
#custom-power {
  color: @red;
  border-radius: 0 1rem 1rem 0;
  margin-right: 1rem;
  padding-right: 1.2rem;
  /* Add extra padding to the last item */
}

/* Fallback styles for modules you might add later */
#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}